<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/bootstrap.min.css">
 <script src="js/angular.min.js"></script>
 <script src="js/jquery-1.8.2.min.js"></script>
 <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
 <script>
  function loading() {
    var em = localStorage.getItem("email");
    document.getElementById("email").value = em;
   }
  var mymodule = angular.module("landModule",[]);
  mymodule.controller("landController", function($scope,$http){
   $scope.email;
   $scope.redir = function(rid){
     //alert(rid);
     localStorage.removeItem("rid");
     localStorage.setItem("rid",rid);
     window.location.href="newland.html";
   }
   $scope.doDelete = function(rid){
    document.getElementById("undo").style="visibility: visible;";
    localStorage.removeItem("rid");
    localStorage.setItem("rid", rid);
    $http.get("/delland?rid="+rid).then(goodfn,badfn);
    function goodfn(resp){
     //alert(resp.data);
     $scope.fetch();
    }
    function badfn(resp) {
     alert("Error Deleting the Land");
    }
   }
   $scope.undo = function () {
    alert(localStorage.getItem("rid"));
    document.getElementById("undo").style="visibility: hidden;";
    //alert(localStorage.getItem("rid"));
      $http.get("/undoland?rid=" + localStorage.getItem("rid")).then(goodfn, badfn);
      function goodfn(resp) {
        //alert(resp.data);
        $scope.fetch();
      }
      function badfn(resp) {
        alert("Error Deleting the Land");
      }
      localStorage.removeItem("rid");
    }
   $scope.jsonArray = [{}];
   $scope.fetch=function(){
    $http.get("/fetchland?email="+ localStorage.getItem("email")).then(goodfn,badfn);
    function goodfn(resp) {
     $scope.jsonArray = resp.data;
    }
    function badfn(resp) {
     alert("Error");
     alert(JSON.stringify(resp.data));
    }
   }
  });
 </script>
<style>
  body {
    background-color: #f0e9fa;
  }
  #link{
   text-decoration: none;
  }
  #mybutton{
   color: azure;
   background-color: darkslategray;
   float: right;
   height: 50px;
   width: 170px;
   border-radius: 30px;
   padding: 10px 10px 10px 17px;
  }
  #mybutton:hover{
   color: darkslategray;
   background-color: azure;
  }
</style>
 <title>Document</title>
</head>
<body onload="loading();" ng-app="landModule" ng-controller="landController" ng-init="fetch();">
  <a id="link" href="dash.html">
    <div id="mybutton">
      Back to dashboard
    </div>
  </a>
 <h1>My Lands</h1>
 <hr>
 <div class="row mb-3">
  <label for="email" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-6">
   <input readonly type="email" class="form-control" ng-model="email" ng-change="fetch();" id="email">
  </div>
 </div>
 <table class="table table-dark table-bordered table-hover">
  <tr>
   <th>Sr.no.</th>
   <th>Name of the Land</th>
   <th>Location</th>
   <th>Nitrogen Content</th>
   <th>Phosphorous Content</th>
   <th>Potassium Content</th>
   <th>pH of Soil</th>
   <th>Moisture of Soil</th>
   <th>Soil Type</th>
   <th colspan="2">Operations</th>
  </tr>
  <tr ng-repeat="obj in jsonArray">
    <td align="center">{{$index+1}}</td>
    <td align="center">{{obj.landname}}</td>
    <td align="center">{{obj.loc}}</td>
    <td align="center">{{obj.n}}</td>
    <td align="center">{{obj.p}}</td>
    <td align="center">{{obj.k}}</td>
    <td align="center">{{obj.ph}}</td>
    <td align="center">{{obj.moisture}}</td>
    <td align="center">{{obj.type}}</td>
   <td align="center"><input type="button" value="Update" ng-click="redir(obj.rid);"></td>
   <td align="center"><input type="button" value="Delete" ng-click="doDelete(obj.rid);"></td>
  </tr>
 </table>
<input style="visibility: hidden;" id="undo" type="button" value="Undo" ng-click="undo();">
</body>
</html>